{% extends "base.html" %}
{% load static %}



{% block title %}
    香港莎莎官网 - 正品美妆海淘商城,化妆品护肤品海外购首选
{% endblock %}
{% block basecss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css">
{% endblock %}
{% block basejs %}
     <script src="{% static 'js/shopcart.js' %}" type="text/javascript" charset="utf-8"></script>
     <script src="{% static 'js/common.js' %}" type="text/javascript" charset="utf-8"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
{% endblock %}
{#右侧边栏#}
{% block basebodyo %}
    <div class="sidebar">
        <div class="sidebar-box">
            <div class="box-top">
                <div class="explain">
                    <a href="http://www.sasa.com/customer_notice" target="_blank">选购境外商品须知</a>
                </div>
                <div id="myaccount" class="sidetab">
                    <a class="sidebar_link">
                        <i class="iconfont">&#xe609;</i>
                    </a>
                    <a href="" class="sidebar_tip">我的账户
                        <div class="mui-tip">◆</div>
                    </a>
                </div>
                <div class="sidecart">
                    <div class="sidecart-text">
                        <a>
                            <i class="iconfont">&#xe601;</i>购物车
                            <b><span>0</span></b>
                        </a>
                    </div>
                    <div class="sidecart-cont ui-sidecart-cont" id="js_sidecart">
                        <div class="cart-conttitle">
                            <button class="btn-close" id="js_closecart" title="关闭" type="button"><i class="iconfont">&#xe61b;</i>
                            </button>
                            购物车
                        </div>
                        <div id="js_updatecart" class="J-updatecart"></div>
                    </div>
                </div>
                <div id="myfav" class="sidetab">
                    <a class="sidebar_link">
                        <i class="iconfont">&#xe603;</i>
                    </a>
                    <a href="" class="sidebar_tip">我的收藏
                        <div class="mui-tip">◆</div>
                    </a>
                </div>
                <div id="myhistory" class="sidetab">
                    <a class="sidebar_link">
                        <i class="iconfont">&#xe607;</i>
                    </a>
                    <a href="" class="sidebar_tip">浏览记录
                        <div class="mui-tip">◆</div>
                    </a>
                </div>
            </div>
            <div class="box-bottom">
                <div id="myservice" class="sidetab">
                    <a class="sidebar_link">
                        <i class="iconfont">&#xe604;</i>
                    </a>
                    <a href="" class="sidebar_tip">线上客服
                        <div class="mui-tip">◆</div>
                    </a>
                </div>
                <div id="sidecode" class="sidetab">
                    <a class="sidebar_link">
                        <i class="iconfont">&#xe606;</i>
                    </a>
                    <a href="" class="sidebar_tip" style="padding-right: 50px;">
                        <div class="mui-tab-tip" style="margin-top: -50px;">
                            <img src="{% static 'img/weixin.jpg' %}" width="140px" height="140px"/>
                        </div>
                        <div class="mui-tip" style="color: #FFFFFF;">◆</div>
                    </a>
                </div>
                <div class="sideup">
                    <div class="sideup-text">
                        <a><i class="iconfont">&#xe608;</i>TOP</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{#莎莎网logo右侧搜索框及我的购物车#}
{% block logoafter %}
    <div class="search">
        <form>
            <div class="search_input">
                <input type="text" name="search_keywords" placeholder="面膜" class="key" value="">
            </div>
            <button type="submit" class="btn btn-search submit-btn">搜索</button>
        </form>
        <div class="keywords">
            <a href="./search-防晒.html">防晒</a>
            <a href="./search-防晒.html">兰蔻</a>
            <a href="./search-防晒.html">雅诗兰黛</a>
            <a href="./search-防晒.html">兰芝</a>
            <a href="./search-防晒.html">眼霜</a>
            <a href="./search-防晒.html">保湿</a>
            <a href="./search-防晒.html">迪奥</a>
        </div>
    </div>
    <div class="top_cart">
        <div class="cart_bar">
            <div class="cart_title">
                <a href="cart/">我的购物车</a>
            </div>
            <div></div>
        </div>
    </div>
{% endblock %}



{% block basebodyt %}
    {#    首页 等红色那一栏#}
    <div class="nav-bar">
        <div class="page">
            <div class="nav fl">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="#">首页</a>
                    </li>
                    <li class="nav_item">
                        <a href="#">面部护肤</a>
                    </li>
                    <li class="nav_item">
                        <a href="#">彩妆</a>
                    </li>
                    <li class="nav_item">
                        <a href="#">限时特卖</a>
                    </li>
                    <li class="nav_item">
                        <a href="#">贵宾专享</a>
                    </li>
                    <li class="nav_item nav_item_more">
                        <a href="#">所有品牌<i class="iconfont">&#xe60c;</i></a>
                        <div class="nav-box">
                            <i class="iconfont navtip">&#xe608;</i>
                            <h2 class="navtip-text">热门品牌</h2>
                            <div class="clb">
                                <div class="nav-brandtext fl">
                                    <ul class="arrows" style="overflow: hidden; padding: 0px; width: 210px;">
                                        <div class="jspContainer" style="width: 210px; height: 200px;">
                                            <div class="jspPane" style="padding: 0px; top: 0px; width: 210px;">
                                                <li>
                                                    <a href="" target="_blank">森田药妆&nbsp; SAM TIN</a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank">希思黎&nbsp; Sisley</a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank">雅诗兰黛&nbsp; Estee Lauder</a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank">兰蔻&nbsp; Lancome</a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank">SK-II</a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank">资生堂&nbsp; Shiseido</a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank">高丝&nbsp; Kose</a>
                                                </li>
                                                <li>
                                                    <a href="" target="_blank">雅漾&nbsp; Avene</a>
                                                </li>
                                            </div>
                                        </div>
                                    </ul>
                                    <a href="/brand" class="nav-brandmore" target="_blank"><b>查看全部品牌</b></a>
                                </div>
                                <div class="nav-brandpic fr">
                                    <ul>
                                        <li>
                                            <a href=""><img src="{% static 'img/hotbrand/1.jpg' %}"></a>
                                        </li>
                                        <li>
                                            <a href=""><img src="{% static 'img/hotbrand/2.jpg' %}"></a>
                                        </li>
                                        <li>
                                            <a href=""><img src="{% static 'img/hotbrand/3.jpg' %}"></a>
                                        </li>
                                        <li>
                                            <a href=""><img src="{% static 'img/hotbrand/4.jpg' %}"></a>
                                        </li>
                                        <li>
                                            <a href=""><img src="{% static 'img/hotbrand/5.jpg' %}"></a>
                                        </li>
                                        <li>
                                            <a href=""><img src="{% static 'img/hotbrand/6.jpg' %}"></a>
                                        </li>
                                        <li>
                                            <a href=""><img src="{% static 'img/hotbrand/7.jpg' %}"></a>
                                        </li>
                                        <li>
                                            <a href=""><img src="{% static 'img/hotbrand/8.jpg' %}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {#所有分类 等黑色那一栏#}
    <div class="nav-category">
        <div class="page">
            <div class="all_category">
                <div class="txt">所有分类</div>
                <div class="category_box">
                    <ul class="category_cont">
                        <li class="cat_item">
                            <div class="cat_box">
                                <img class="icon" src="{% static 'img/hot.png' %}"/>
                                <div class="cat_title">
                                    <a href="">热门功效</a>
                                </div>
                                <div class="cat_kind">
                                    <a href="" type="url" title="保湿">保湿</a>
                                    <a href="" type="url" title="美白提亮">美白提亮</a>
                                    <a href="" type="url" title="提亮祛斑">提亮祛斑</a>
                                    <a href="" type="url" title="收毛孔">收毛孔</a>
                                </div>
                                <div class="cat_child_box">
                                    <dl>
                                        <dt><a href="">热门功效</a></dt>
                                        <a href="" type="url" title="保湿">保湿</a>&nbsp;
                                        <a href="" type="url" title="美白提亮">美白提亮</a><br>
                                        <a href="" type="url" title="祛斑">祛斑</a>&nbsp;
                                        <a href="" type="url" title="舒缓/抗敏感">舒缓/抗敏感</a> <br>
                                        <a href="" type="url" title="收毛孔">收毛孔</a>&nbsp;
                                        <a href="" type="url" title="提拉紧致">提拉紧致</a> <br>
                                        <a href="" type="url" title="抗皱">抗皱</a>&nbsp;
                                        <a href="" type="url" title="去黑眼圈">去黑眼圈</a> <br>
                                        <a href="" type="url" title="去干纹">去干纹</a>&nbsp;
                                        <a href="" type="url" title="防晒">防晒</a>
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li class="cat_item">
                            <div class="cat_box">
                                <img class="icon" src="{% static 'img/face.png'%}"/>
                                <div class="cat_title">
                                    <a href="">面部护肤</a>
                                </div>
                                <div class="cat_kind">
                                    <a href="" type="url" title="洁面">洁面</a>
                                    <a href="" type="url" title="化妆水">化妆水</a>
                                    <a href="" type="url" title="精华">精华</a>
                                    <a href="" type="url" title="面霜">面霜</a>
                                    <a href="" type="url" title="面膜">面膜</a>
                                </div>
                                <div class="cat_child_box">
                                    <dl>
                                        <dt><a>基本护理</a></dt>
                                        <a href="" type="url" title="洁面">洁面</a>&nbsp;
                                        <a href="" type="url" title="磨砂">磨砂</a>&nbsp;
                                        <a href="" type="url" title="卸妆">卸妆</a><br>
                                        <a href="" type="url" title="化妆水">化妆水</a>&nbsp;
                                        <a href="" type="url" title="精华">精华</a><br>
                                        <a href="" type="url" title="面霜">面霜</a>&nbsp;
                                        <a href="" type="url" title="面膜">面膜</a>
                                    </dl>
                                    <dl>
                                        <dt><a>特别护理</a></dt>
                                        <a href="" type="url" title="颈部护理">颈部护理</a>&nbsp;
                                        <a href="" type="url" title="眼部护理">眼部护理</a><br>
                                        <a href="" type="url" title="暗疮护理">暗疮护理</a>&nbsp;
                                        <a href="" type="url" title="唇部护理 ">唇部护理</a> <br>
                                        <a href="" type="url" title="防晒护理">防晒护理</a>
                                    </dl>
                                    <dl>
                                        <dt><a>其他</a></dt>
                                        <a href="" type="url" title="高端美容仪器">高端美容仪器</a> <br>
                                        <a href="" type="url" title="美容工具">美容工具</a>&nbsp;&nbsp;
                                        <a href="" type="url" title="小样">小样</a>&nbsp;<br>
                                        <a href="" type="url" title="套装">套装</a>
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li class="cat_item">
                            <div class="cat_box">
                                <img class="icon" src="{% static 'img/makeup.png'%}"/>
                                <div class="cat_title">
                                    <a href="">彩妆</a>
                                </div>
                                <div class="cat_kind">
                                    <a href="" type="url" title="BB霜">BB霜</a>
                                    <a href="" type="url" title="睫毛膏">睫毛膏</a>
                                    <a href="" type="url" title="美唇">美唇</a>
                                    <a href="" type="url" title="粉底">粉底</a>
                                </div>
                                <div class="cat_child_box">
                                    <dl>
                                        <dt><a>面部彩妝</a></dt>
                                        <a href="" type="url" title="隔離霜">隔離霜</a>&nbsp;
                                        <a href="" type="url" title="粉底">粉底</a>&nbsp;
                                        <a href="" type="url" title="遮瑕">遮瑕</a><br>
                                        <a href="" type="url" title="BB霜">BB霜</a>&nbsp;
                                        <a href="" type="url" title="CC霜">CC霜</a>&nbsp;
                                        <a href="" type="url" title="胭脂">胭脂</a>
                                    </dl>
                                    <dl>
                                        <dt><a>眼部彩妝</a></dt>
                                        <a href="" type="url" title="眉筆/眉粉">眉筆/眉粉</a>&nbsp;
                                        <a href="" type="url" title="眼影">眼影</a><br>
                                        <a href="" type="url" title="眼線">眼線</a>&nbsp;
                                        <a href="" type="url" title="睫毛膏">睫毛膏</a>
                                    </dl>
                                    <dl>
                                        <dt><a>其他</a></dt>
                                        <a href="" type="url" title="美唇">美唇</a>&nbsp;
                                        <a href="" type="url" title="彩妝盒/套裝">彩妝盒/套裝</a><br>
                                        <a href="" type="url" title="化妝掃">化妝掃</a>&nbsp;
                                        <a href="" type="url" title="化妝工具">化妝工具</a><br>
                                        <a href="" type="url" title="美甲">美甲</a>
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li class="cat_item">
                            <div class="cat_box">
                                <img class="icon" src="{% static 'img/perfume.png'%}"/>
                                <div class="cat_title">
                                    <a href="">香水</a>
                                </div>
                                <div class="cat_kind">
                                    <a href="" type="url" title="女士香水">女士香水</a>
                                    <a href="" type="url" title="香水套装">香水套装</a>
                                </div>
                                <div class="cat_child_box">
                                    <dl>
                                        <dt><a>香水</a></dt>
                                        <a href="" type="url" title="女士香水">女士香水</a>&nbsp;
                                        <a href="" type="url" title="男士香水">男士香水</a><br>
                                        <a href="" type="url" title="香水套裝">香水套裝</a>&nbsp;
                                        <a href="" type="url" title="香水工具">香水工具</a>
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li class="cat_item">
                            <div class="cat_box">
                                <img class="icon" src="{% static 'img/health.png' %}"/>
                                <div class="cat_title">
                                    <a href="">健康美肌</a>
                                </div>
                                <div class="cat_kind">
                                    <a href="" type="url" title="美容补充品">美容补充品</a>
                                    <a href="" type="url" title="非处方药品">非处方药品</a>
                                </div>
                                <div class="cat_child_box">
                                    <dl>
                                        <dt><a>健康美肌</a></dt>
                                        <a href="" type="url" title="美容补充品">美容补充品</a>&nbsp;
                                        <a href="" type="url" title="保健品">保健品</a><br>
                                        <a href="" type="url" title="非处方药品">非处方药品</a><br>
                                        <a href="" type="url" title="健康零食">健康零食</a><br>
                                        <a href="" type="url" title="天然草本茶">天然草本茶</a>
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li class="cat_item">
                            <div class="cat_box">
                                <img class="icon" src="{% static 'img/thinbody.png' %}"/>
                                <div class="cat_title">
                                    <a href="">纤体美胸</a>
                                </div>
                                <div class="cat_kind"></div>
                                <div class="cat_child_box">
                                    <dl>
                                        <dt><a>纤体美胸</a></dt>
                                        <a href="" type="url" title="纤体护理">纤体护理</a>&nbsp;
                                        <a href="" type="url" title="纤体食品">纤体食品</a><br>
                                        <a href="" type="url" title="纤体工具">纤体工具</a>&nbsp;
                                        <a href="" type="url" title="纤体套装">纤体套装</a><br>
                                        <a href="" type="url" title="美胸用品">美胸用品</a>
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li class="cat_item">
                            <div class="cat_box">
                                <img class="icon" src="{% static 'img/nurse.png' %}"/>
                                <div class="cat_title">
                                    <a href="">个人护理</a>
                                </div>
                                <div class="cat_kind"></div>
                                <div class="cat_child_box">
                                    <dl>
                                        <dt><a>身体护理</a></dt>
                                        <a href="" type="url" title="沐浴/润肤">沐浴/润肤</a><br>
                                        <a href="" type="url" title="洗发/护发">洗发/护发</a><br>
                                        <a href="" type="url" title="头发造型">头发造型</a><br>
                                        <a href="" type="url" title="手足部护理">手足部护理</a><br>
                                        <a href="" type="url" title="脱毛用品">脱毛用品</a>&nbsp;
                                        <a href="" type="url" title="女性护理">女性护理</a><br>
                                        <a href="" type="url" title="止汗香体">止汗香体</a>
                                    </dl>
                                    <dl>
                                        <dt><a>其他&nbsp;</a></dt>
                                        <a href="" type="url" title="隐形眼镜">隐形眼镜</a>&nbsp;
                                        <a href="" type="url" title="口腔护理">口腔护理</a><br>
                                        <a href="" type="url" title="家居用品">家居用品</a>&nbsp;
                                        <a href="" type="url" title="头饰/饰物">头饰/饰物</a>
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li class="cat_item">
                            <div class="cat_box">
                                <img class="icon" src="{% static 'img/boy.png' %}"/>
                                <div class="cat_title">
                                    <a href="">男士专区</a>
                                </div>
                                <div class="cat_kind"></div>
                                <div class="cat_child_box">
                                    <dl>
                                        <dt><a>男士专区</a></dt>
                                        <a href="" type="url" title="男士洁面">男士洁面</a>&nbsp;
                                        <a href="" type="url" title="男士护肤">男士护肤</a><br>
                                        <a href="" type="url" title="剃须护理">剃须护理</a><br>
                                        <a href="" type="url" title="男士头部护理">男士头部护理</a>
                                    </dl>
                                </div>
                            </div>
                        </li>
                        <li class="cat_item">
                            <div class="cat_box">
                                <img class="icon" src="{% static 'img/baby.png' %}"/>
                                <div class="cat_title">
                                    <a href="">孕婴护理</a>
                                </div>
                                <div class="cat_kind"></div>
                                <div class="cat_child_box">
                                    <dl>
                                        <dt><a>孕婴护理</a></dt>
                                        <a href="" type="url" title="母婴团">母婴团</a>
                                        <a href="" type="url" title="婴儿沐浴">婴儿沐浴</a>&nbsp;
                                        <a href="" type="url" title="婴儿护肤">婴儿护肤</a><br>
                                        <a href="" type="url" title="婴儿食品">婴儿食品</a>&nbsp;
                                        <a href="" type="url" title="孕妇护肤">孕妇护肤</a><br>
                                        <a href="" type="url" title="孕妇食品">孕妇食品</a><br>
                                        <a href="" type="url" title="其他孕婴工具">其他孕婴工具</a>
                                    </dl>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="hot_category">
                <ul>
                    <li>
                        <a href="">新品上市</a>
                    </li>
                    <li>
                        <a href="">本周促销</a>
                    </li>
                    <li>
                        <a href="">韩国热卖</a>
                    </li>
                    <li>
                        <a href="">面膜专区</a>
                    </li>
                    <li>
                        <a href="">清货特卖</a>
                    </li>
                    <li class="magic_line"></li>
                </ul>
            </div>
        </div>
    </div>
{#    轮播图#}
    <div class="banner">
        <div class="page">
            <div class="slide_box">
                <ol id="banner_list">
                    <div class="swiper-container" id="topSwiper">
                        <div class="swiper-wrapper">
                            {% for tupi in tupis %}
                                <div class="swiper-slide">
                                    <li> <img src="/static/{{ tupi.urls }}" /></li>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>

                </ol>
                <div class="switchable-wp" >
                    <div class="switchable-main">
                        <ul class="slide-trigger" style="margin-left:-56px;">

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="webtool">
			<ul class="flooricon">
				<li title="每日必看" class="">
					<a href="#" id="floor_0"><i class="iconfont">&#xe610;</i>每日必看</a>
				</li>
				<li title="限时特卖" class="">
					<a href="#" id="floor_1"><i class="iconfont">&#xe60e;</i>限时特卖</a>
				</li>
				<li title="新品上市" class="">
					<a href="#" id="floor_2"><i class="iconfont">&#xe60d;</i>新品上市</a>
				</li>
				<li title="热门品牌" class="">
					<a href="#" id="floor_3"><i class="iconfont">&#xe611;</i>热门品牌</a>
				</li>
				<li title="销售排行榜" class="">
					<a href="#"><i class="iconfont">&#xe60f;</i>销售排行榜</a>
				</li>
			</ul>
		</div>
    <div class="index-scohead" id="float-search">
			<div class="page">
				<div class="scohead-logo fl"><img src="{% static 'img/logo2.png' %}" alt="" /></div>
				<div class="scohead-search fl">
					<form class="SearchBar">
						<div class="search_input">
							<input type="text" class="key" placeholder="" name="search_keywords">
						</div>
						<button class="btn btn-search submit-btn" type="submit">搜索</button>
					</form>
				</div>
			</div>
		</div>
    <div class="mustcheck">
			<div class="content_head page">
				<span class="bticon">每日必看</span>
			</div>
			<div class="mustcheck_con page">
				<ul class="mustcheck-list">
					<li data-id="1473156785" class="spec">
						<a href="/shasha/details/" target="_blank">
							<img alt="Suisse Programme" class="mustcheck-pic" src="{% static 'img/brand/1473156785.jpg' %}">
						</a>
					</li>
					<li data-id="1472546797">
						<a href="" target="_blank">
							<img alt="SNP" class="mustcheck-pic" src="{% static 'img/brand/1472546797.jpg' %}">
						</a>
					</li>
					<li data-id="1471939435">
						<a href="" target="_blank">
							<img alt="Dr.Jart+" class="mustcheck-pic" src="{% static 'img/brand/1471939435.jpg' %}">
						</a>
					</li>
					<li data-id="1471416058">
						<a href="" target="_blank">
							<img alt="Lancome" class="mustcheck-pic" src="{% static 'img/brand/1471416058.jpg'%}">
						</a>
					</li>
					<li data-id="1472441027" class="spec">
						<a href="" target="_blank">
							<img alt="La Roche-Posay" class="mustcheck-pic" src="{% static 'img/brand/1472441027.jpg' %}">
						</a>
					</li>
					<li data-id="1472440666">
						<a href="" target="_blank">
							<img alt="Nuxe" class="mustcheck-pic" src="{% static 'img/brand/1472440666.jpg' %}">
						</a>
					</li>
					<li data-id="1473240221">
						<a href="" target="_blank">
							<img alt="cada suissesse" class="mustcheck-pic" src="{% static 'img/brand/1473240221.jpg' %}">
						</a>
					</li>
					<li data-id="1472445105">
						<a href="" target="_blank">
							<img alt="LABIOTTE" class="mustcheck-pic" src="{% static 'img/brand/1472445105.jpg' %}">
						</a>
					</li>
				</ul>
			</div>
			<div class="mustad1 mustad" style="background: url() right top no-repeat;"></div>
			<div class="mustad2 mustad" style="background: url() left top no-repeat;"></div>
		</div>
    <div class="flashsale page">
			<div class="flashsale_head">
				<a href="" target="_blank">查看所有</a>
				<span class="bticon">秒杀商品</span>
			</div>
			<div class="flashsale_con">
				<ul class="flashsale-list"></ul>
			</div>
		</div>
    <div class="newarrivals page">
			<div class="newarrivals_head">
				<a href="" target="_blank">查看所有</a>
				<span class="bticon">新品上市</span>
			</div>
			<ul class="customer-tab" id="new_pro">
				<li class="move" style="left: 112px; width: 80px;"></li>
				<li>
					<a href="">面部护肤</a>
				</li>
				<li>
					<a href="">彩妆</a>
				</li>
				<li>
					<a href="">香水</a>
				</li>
				<li>
					<a href="">健康美肌</a>
				</li>
				<li>
					<a href="">纤体美胸</a>
				</li>
				<li>
					<a href="">个人护理</a>
				</li>
				<li>
					<a href="">男士专区</a>
				</li>
				<li>
					<a href="">孕婴护理</a>
				</li>
				<li>
					<a href="">化妆水</a>
				</li>
			</ul>
			<ul class="newarrivals-list"></ul>
		</div>
    <div class="hotbrands page">
			<div title="热门品牌" class="homebt">
				<a target="_blank" href="/brand">查看所有 &gt;</a><span class="bticon">热门品牌</span>
			</div>
			<ul class="customer-tab">
				<li class="move" style="left: 0px; width: 112px;"></li>
				<li data-type="6">
					<a href="javascript:void(0);">欧美品牌</a>
				</li>
				<li data-type="5">
					<a href="javascript:void(0);">台湾品牌</a>
				</li>
				<li data-type="1">
					<a href="javascript:void(0);">澳洲品牌</a>
				</li>
				<li data-type="12">
					<a href="javascript:void(0);">奢品美妆</a>
				</li>
				<li data-type="7">
					<a href="javascript:void(0);">韩国品牌</a>
				</li>
				<li data-type="2">
					<a href="javascript:void(0);">代理品牌</a>
				</li>
			</ul>
			<ul class="brand_logo"></ul>
		</div>
{% endblock %}

{% block footert %}
    <div class="btom-info">
        <img src="{% static 'img/code/logo.png' %}"/>
    </div>
    <div class="helper-item">
        <dl class="content-list">
            <dt class="content-title" style="color:#ec3e7d">新手上路</dt>
            <dd class="article-index-list">
                <a href="" title="购物流程" rel="nofollow">购物流程</a>
                <a href="" title="优惠券说明" rel="nofollow">优惠券说明</a>
                <a href="" title="常见问题" rel="nofollow">常见问题</a>
                <a href="" title="联络我们" rel="nofollow">联络我们</a>
            </dd>
        </dl>
    </div>
    <div class="helper-item">
        <dl class="content-list">
            <dt class="content-title" style="color:#ec3e7d">付款方式</dt>
            <dd class="article-index-list">
                <a href="" title="在线支付" rel="nofollow">在线支付</a>
                <a href="" title="在线支付" rel="nofollow">积分支付</a>
            </dd>
        </dl>
    </div>
    <div class="helper-item">
        <dl class="content-list">
            <dt class="content-title" style="color:#ec3e7d">配送方式</dt>
            <dd class="article-index-list">
                <a href="" title="在线支付" rel="nofollow">配送说明</a>
                <a href="" title="在线支付" rel="nofollow">追踪订单</a>
            </dd>
        </dl>
    </div>
    <div class="helper-item">
        <dl class="content-list">
            <dt class="content-title" style="color:#ec3e7d">售后服务</dt>
            <dd class="article-index-list">
                <a href="" title="正品保证" rel="nofollow">正品保证</a>
                <a href="" title="价格承诺" rel="nofollow">价格承诺</a>
                <a href="" title="30日退换保证" rel="nofollow">30日退换保证</a>
                <a href="" title="退款程序" rel="nofollow">退款程序</a>
                <a href="" title="更改订单" rel="nofollow">更改订单</a>
            </dd>
        </dl>
    </div>
    <div class="helper-item">
        <dl class="content-list">
            <dt class="content-title" style="color:#ec3e7d">莎莎会员</dt>
            <dd class="article-index-list">
                <a href="" title="积分奖赏" rel="nofollow">积分奖赏</a>
                <a href="" title="会员计划" rel="nofollow">会员计划</a>
            </dd>
        </dl>
    </div>


    <div class="bottom_link">
        <a href="/about" rel="nofollow">关于莎莎</a>
        <a href="/terms" rel="nofollow">使用条款</a>
        <a href="/privacy-policy" rel="nofollow">私隐政策</a>
        <a href="/business" rel="nofollow">招商合作</a>
        <a href="/notice/declaration" rel="nofollow">帮助中心</a>
        <a href="/promotion" rel="nofollow">港澳店铺推广</a>
        <a href="/recruit" rel="nofollow">人才招聘</a>
        <a href="/cs" rel="nofollow">联络我们</a>
        <a href="/sitemap.html" rel="nofollow">网站地图</a>
        <a href="http://web1.sasa.com/SasaWeb/splash.jsp" rel="nofollow">其他送货地区</a>
    </div>
{% endblock %}






