<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="dns-prefetch" href="//cdnec.sasa.com">
		<!--预解析-->
		<link rel='icon' href=http://cdnec.sasa.com/public/app/site/statics/favicon.ico type='image/x-icon' />
		<!--图标-->
		<link rel='shortcut icon' href=http://cdnec.sasa.com/public/app/site/statics/favicon.ico type='image/x-icon' />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!--文档兼容模式-->
		<title>美迪惠尔 Mediheal MEDIHEAL NUDE GEL MASK金装双倍特强保湿水库针剂裸贴水凝胶面膜 (V3) | 香港莎莎官网</title>

		<!--css-->
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/iconfont.css" />
		<!--js-->
		<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/topbar.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/details.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body class="productpage">
		<div class="sidebar">
			<div class="sidebar-box">
				<div class="box-top">
					<div class="explain">
						<a href="http://www.sasa.com/customer_notice" target="_blank">选购境外商品须知</a>
					</div>
					<div id="myaccount" class="sidetab">
						<a class="sidebar_link">
							<i class="iconfont">&#xe609;</i>
						</a>
						<a href="" class="sidebar_tip">我的账户
							<div class="mui-tip">◆</div>
						</a>
					</div>
					<div class="sidecart">
						<div class="sidecart-text">
							<a href="">
								<i class="iconfont">&#xe601;</i>购物车
								<b><span>0</span></b>
							</a>
						</div>
						<div class="sidecart-cont"></div>
					</div>
					<div id="myfav" class="sidetab">
						<a class="sidebar_link">
							<i class="iconfont">&#xe603;</i>
						</a>
						<a href="" class="sidebar_tip">我的收藏
							<div class="mui-tip">◆</div>
						</a>
					</div>
					<div id="myhistory" class="sidetab">
						<a class="sidebar_link">
							<i class="iconfont">&#xe607;</i>
						</a>
						<a href="" class="sidebar_tip">浏览记录
							<div class="mui-tip">◆</div>
						</a>
					</div>
				</div>
				<div class="box-bottom">
					<div id="myservice" class="sidetab">
						<a class="sidebar_link">
							<i class="iconfont">&#xe604;</i>
						</a>
						<a href="" class="sidebar_tip">线上客服
							<div class="mui-tip">◆</div>
						</a>
					</div>
					<div id="sidecode" class="sidetab">
						<a class="sidebar_link">
							<i class="iconfont">&#xe606;</i>
						</a>
						<a href="" class="sidebar_tip" style="padding-right: 50px;">
							<div class="mui-tab-tip" style="margin-top: -50px;">
								<img src="img/weixin.jpg" width="140px" height="140px" />
							</div>
							<div class="mui-tip" style="color: #FFFFFF;">◆</div>
						</a>
					</div>
					<div class="sideup">
						<div class="sideup-text">
							<a><i class="iconfont">&#xe608;</i>TOP</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="topbar">
			<div class="page">
				<div class="login-bar">
					<span id="loginBar">
						<span>欢迎光临莎莎官网！</span>
					<a href="login.html" style="margin-left:10px;">登录</a> <span class="dividing">或 </span>
					<a href="register.html">免费注册</a>
					</span>
					<span id="memberBar">
	   				 	<span>您好！<span id="uname"></span></span>
					<span class="point" style="color:#cb9966;"><b>0</b> 积分</span>
					<a href="index.html">退出</a>
					</span>
				</div>
				<div class="member-bar">
					<ul>
						<li class="line">
							<div class="member-link">
								<a href="">
									<i class="iconfont">&#xe609;</i>我的账户<i class="iconfont min">&#xe60a;</i>
								</a>
								<dl id="mem_dl_247" style="display: none;">
									<dd>
										<a href="/account/login" rel="nofollow">我的订单</a>
									</dd>
									<dd>
										<a href="/account/login" rel="nofollow">我的积分</a>
									</dd>
									<dd>
										<a href="/account/login" rel="nofollow">我的优惠券</a>
									</dd>
									<dd>
										<a href="/account/login" rel="nofollow">我的收藏</a>
									</dd>
									<dd>
										<a href="/account/login" rel="nofollow">我的评价</a>
									</dd>
								</dl>
							</div>
						</li>
						<li class="line">
							<div class="member-link">
								<a href=""><i class="iconfont">&#xe603;</i>我的收藏</a>
							</div>
						</li>
						<li class="line">
							<div class="member-link">
								<a href=""><i class="iconfont">&#xe602;</i>我的站内信</a>
							</div>
						</li>
						<li class="line">
							<div class="member-link">
								<a href="">积分中心</a>
							</div>
						</li>
						<li class="line">
							<div class="member-link">
								<a href="">Global Site</a>
							</div>
						</li>
						<li class="line">
							<div class="member-link">
								<a href="">关注我们<i class="iconfont min">&#xe60a;</i></a>
								<dl class="ajust" id="us_246">
									<dt><a href=""><img src="img/topbar/add.png" alt="加入收藏" height="12" width="16">加入收藏</a><a href=""><img src="img/topbar/weibo.png" alt="新浪微博" height="15" width="17">新浪微博</a><a href=""><img src="img/topbar/weixin.png" alt="莎莎微信" height="14" width="17">莎莎微信</a><a href=""><img src="img/topbar/youku.png" alt="优酷视频" height="13" width="17">优酷视频</a></dt>
									<dd style="display: none;"><img src="img/topbar/bigweibo.jpg" alt="新浪微博" width="100px" height="100px"></dd>
									<dd style="display: none;"><img src="img/topbar/bigweixin.jpg" alt="莎莎微信" width="100px" height="100px"></dd>
									<dd style="display: none;"><img src="img/topbar/bigyouku.jpg" alt="优酷视频" width="100px" height="100px"></dd>
								</dl>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="header-main">
			<div class="page">
				<div class="logo">
					<a href="index.html"><img src="img/logo.png" alt="logo" /></a>
				</div>
				<div class="search">
					<form>
						<div class="search_input">
							<input type="text" name="search_keywords" placeholder="面膜" class="key" value="">
						</div>
						<button type="submit" class="btn btn-search submit-btn">搜索</button>
					</form>
					<div class="keywords">
						<a href="./search-防晒.html">防晒</a>
						<a href="./search-防晒.html">兰蔻</a>
						<a href="./search-防晒.html">雅诗兰黛</a>
						<a href="./search-防晒.html">兰芝</a>
						<a href="./search-防晒.html">眼霜</a>
						<a href="./search-防晒.html">保湿</a>
						<a href="./search-防晒.html">迪奥</a>
					</div>
				</div>
				<div class="top_cart">
					<div class="cart_bar">
						<div class="cart_title">
							<a href="">我的购物车</a>
						</div>
						<div></div>
					</div>
				</div>
			</div>
		</div>
		<div class="nav-bar">
			<div class="page">
				<div class="nav fl">
					<ul class="nav_list">
						<li class="nav_item">
							<a href="#">首页</a>
						</li>
						<li class="nav_item">
							<a href="#">面部护肤</a>
						</li>
						<li class="nav_item">
							<a href="#">彩妆</a>
						</li>
						<li class="nav_item">
							<a href="#">限时特卖</a>
						</li>
						<li class="nav_item">
							<a href="#">贵宾专享</a>
						</li>
						<li class="nav_item nav_item_more">
							<a href="#">所有品牌<i class="iconfont">&#xe60c;</i></a>
							<div class="nav-box">
								<i class="iconfont navtip">&#xe608;</i>
								<h2 class="navtip-text">热门品牌</h2>
								<div class="clb">
									<div class="nav-brandtext fl">
										<ul class="arrows" style="overflow: hidden; padding: 0px; width: 210px;">
											<div class="jspContainer" style="width: 210px; height: 200px;">
												<div class="jspPane" style="padding: 0px; top: 0px; width: 210px;">
													<li>
														<a href="" target="_blank">森田药妆&nbsp; SAM TIN</a>
													</li>
													<li>
														<a href="" target="_blank">希思黎&nbsp; Sisley</a>
													</li>
													<li>
														<a href="" target="_blank">雅诗兰黛&nbsp; Estee Lauder</a>
													</li>
													<li>
														<a href="" target="_blank">兰蔻&nbsp; Lancome</a>
													</li>
													<li>
														<a href="" target="_blank">SK-II</a>
													</li>
													<li>
														<a href="" target="_blank">资生堂&nbsp; Shiseido</a>
													</li>
													<li>
														<a href="" target="_blank">高丝&nbsp; Kose</a>
													</li>
													<li>
														<a href="" target="_blank">雅漾&nbsp; Avene</a>
													</li>
												</div>
											</div>
										</ul>
										<a href="/brand" class="nav-brandmore" target="_blank"><b>查看全部品牌</b></a>
									</div>
									<div class="nav-brandpic fr">
										<ul>
											<li>
												<a href=""><img src="img/hotbrand/1.jpg"></a>
											</li>
											<li>
												<a href=""><img src="img/hotbrand/2.jpg"></a>
											</li>
											<li>
												<a href=""><img src="img/hotbrand/3.jpg"></a>
											</li>
											<li>
												<a href=""><img src="img/hotbrand/4.jpg"></a>
											</li>
											<li>
												<a href=""><img src="img/hotbrand/5.jpg"></a>
											</li>
											<li>
												<a href=""><img src="img/hotbrand/6.jpg"></a>
											</li>
											<li>
												<a href=""><img src="img/hotbrand/7.jpg"></a>
											</li>
											<li>
												<a href=""><img src="img/hotbrand/8.jpg"></a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<ul class="nav_icon fr">
					<li>
						<img src="img/pinkage.png" alt="" />
						<span class="sp_accordion" style="visibility: visible;">满￥249包邮</span>
					</li>
					<li>
						<img src="img/goldeneye.png" alt="" />
						<span class="sp_accordion" style="visibility: visible;">正品保证</span>
					</li>
					<li>
						<img src="img/nonstop.png" alt="" />
						<span class="sp_accordion" style="visibility: visible;">香港直送</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="nav-category">
			<div class="page">
				<div class="all_category">
					<div class="txt">所有分类</div>
					<div class="category_box">
						<ul class="category_cont">
							<li class="cat_item">
								<div class="cat_box">
									<img class="icon" src="img/hot.png" />
									<div class="cat_title">
										<a href="">热门功效</a>
									</div>
									<div class="cat_kind">
										<a href="" type="url" title="保湿">保湿</a>
										<a href="" type="url" title="美白提亮">美白提亮</a>
										<a href="" type="url" title="提亮祛斑">提亮祛斑</a>
										<a href="" type="url" title="收毛孔">收毛孔</a>
									</div>
									<div class="cat_child_box">
										<dl><dt><a href="">热门功效</a></dt>
											<a href="" type="url" title="保湿">保湿</a>&nbsp;
											<a href="" type="url" title="美白提亮">美白提亮</a><br>
											<a href="" type="url" title="祛斑">祛斑</a>&nbsp;
											<a href="" type="url" title="舒缓/抗敏感">舒缓/抗敏感</a> <br>
											<a href="" type="url" title="收毛孔">收毛孔</a>&nbsp;
											<a href="" type="url" title="提拉紧致">提拉紧致</a> <br>
											<a href="" type="url" title="抗皱">抗皱</a>&nbsp;
											<a href="" type="url" title="去黑眼圈">去黑眼圈</a> <br>
											<a href="" type="url" title="去干纹">去干纹</a>&nbsp;
											<a href="" type="url" title="防晒">防晒</a>
										</dl>
									</div>
								</div>
							</li>
							<li class="cat_item">
								<div class="cat_box">
									<img class="icon" src="img/face.png" />
									<div class="cat_title">
										<a href="">面部护肤</a>
									</div>
									<div class="cat_kind">
										<a href="" type="url" title="洁面">洁面</a>
										<a href="" type="url" title="化妆水">化妆水</a>
										<a href="" type="url" title="精华">精华</a>
										<a href="" type="url" title="面霜">面霜</a>
										<a href="" type="url" title="面膜">面膜</a>
									</div>
									<div class="cat_child_box">
										<dl><dt><a>基本护理</a></dt>
											<a href="" type="url" title="洁面">洁面</a>&nbsp;
											<a href="" type="url" title="磨砂">磨砂</a>&nbsp;
											<a href="" type="url" title="卸妆">卸妆</a><br>
											<a href="" type="url" title="化妆水">化妆水</a>&nbsp;
											<a href="" type="url" title="精华">精华</a><br>
											<a href="" type="url" title="面霜">面霜</a>&nbsp;
											<a href="" type="url" title="面膜">面膜</a>
										</dl>
										<dl><dt><a>特别护理</a></dt>
											<a href="" type="url" title="颈部护理">颈部护理</a>&nbsp;
											<a href="" type="url" title="眼部护理">眼部护理</a><br>
											<a href="" type="url" title="暗疮护理">暗疮护理</a>&nbsp;
											<a href="" type="url" title="唇部护理 ">唇部护理</a> <br>
											<a href="" type="url" title="防晒护理">防晒护理</a>
										</dl>
										<dl><dt><a>其他</a></dt>
											<a href="" type="url" title="高端美容仪器">高端美容仪器</a> <br>
											<a href="" type="url" title="美容工具">美容工具</a>&nbsp;&nbsp;
											<a href="" type="url" title="小样">小样</a>&nbsp;<br>
											<a href="" type="url" title="套装">套装</a>
										</dl>
									</div>
								</div>
							</li>
							<li class="cat_item">
								<div class="cat_box">
									<img class="icon" src="img/makeup.png" />
									<div class="cat_title">
										<a href="">彩妆</a>
									</div>
									<div class="cat_kind">
										<a href="" type="url" title="BB霜">BB霜</a>
										<a href="" type="url" title="睫毛膏">睫毛膏</a>
										<a href="" type="url" title="美唇">美唇</a>
										<a href="" type="url" title="粉底">粉底</a>
									</div>
									<div class="cat_child_box">
										<dl><dt><a>面部彩妝</a></dt>
											<a href="" type="url" title="隔離霜">隔離霜</a>&nbsp;
											<a href="" type="url" title="粉底">粉底</a>&nbsp;
											<a href="" type="url" title="遮瑕">遮瑕</a><br>
											<a href="" type="url" title="BB霜">BB霜</a>&nbsp;
											<a href="" type="url" title="CC霜">CC霜</a>&nbsp;
											<a href="" type="url" title="胭脂">胭脂</a>
										</dl>
										<dl><dt><a>眼部彩妝</a></dt>
											<a href="" type="url" title="眉筆/眉粉">眉筆/眉粉</a>&nbsp;
											<a href="" type="url" title="眼影">眼影</a><br>
											<a href="" type="url" title="眼線">眼線</a>&nbsp;
											<a href="" type="url" title="睫毛膏">睫毛膏</a>
										</dl>
										<dl><dt><a>其他</a></dt>
											<a href="" type="url" title="美唇">美唇</a>&nbsp;
											<a href="" type="url" title="彩妝盒/套裝">彩妝盒/套裝</a><br>
											<a href="" type="url" title="化妝掃">化妝掃</a>&nbsp;
											<a href="" type="url" title="化妝工具">化妝工具</a><br>
											<a href="" type="url" title="美甲">美甲</a>
										</dl>
									</div>
								</div>
							</li>
							<li class="cat_item">
								<div class="cat_box">
									<img class="icon" src="img/perfume.png" />
									<div class="cat_title">
										<a href="">香水</a>
									</div>
									<div class="cat_kind">
										<a href="" type="url" title="女士香水">女士香水</a>
										<a href="" type="url" title="香水套装">香水套装</a>
									</div>
									<div class="cat_child_box">
										<dl><dt><a>香水</a></dt>
											<a href="" type="url" title="女士香水">女士香水</a>&nbsp;
											<a href="" type="url" title="男士香水">男士香水</a><br>
											<a href="" type="url" title="香水套裝">香水套裝</a>&nbsp;
											<a href="" type="url" title="香水工具">香水工具</a>
										</dl>
									</div>
								</div>
							</li>
							<li class="cat_item">
								<div class="cat_box">
									<img class="icon" src="img/health.png" />
									<div class="cat_title">
										<a href="">健康美肌</a>
									</div>
									<div class="cat_kind">
										<a href="" type="url" title="美容补充品">美容补充品</a>
										<a href="" type="url" title="非处方药品">非处方药品</a>
									</div>
									<div class="cat_child_box">
										<dl><dt><a>健康美肌</a></dt>
											<a href="" type="url" title="美容补充品">美容补充品</a>&nbsp;
											<a href="" type="url" title="保健品">保健品</a><br>
											<a href="" type="url" title="非处方药品">非处方药品</a><br>
											<a href="" type="url" title="健康零食">健康零食</a><br>
											<a href="" type="url" title="天然草本茶">天然草本茶</a>
										</dl>
									</div>
								</div>
							</li>
							<li class="cat_item">
								<div class="cat_box">
									<img class="icon" src="img/thinbody.png" />
									<div class="cat_title">
										<a href="">纤体美胸</a>
									</div>
									<div class="cat_kind"></div>
									<div class="cat_child_box">
										<dl><dt><a>纤体美胸</a></dt>
											<a href="" type="url" title="纤体护理">纤体护理</a>&nbsp;
											<a href="" type="url" title="纤体食品">纤体食品</a><br>
											<a href="" type="url" title="纤体工具">纤体工具</a>&nbsp;
											<a href="" type="url" title="纤体套装">纤体套装</a><br>
											<a href="" type="url" title="美胸用品">美胸用品</a>
										</dl>
									</div>
								</div>
							</li>
							<li class="cat_item">
								<div class="cat_box">
									<img class="icon" src="img/nurse.png" />
									<div class="cat_title">
										<a href="">个人护理</a>
									</div>
									<div class="cat_kind"></div>
									<div class="cat_child_box">
										<dl><dt><a>身体护理</a></dt>
											<a href="" type="url" title="沐浴/润肤">沐浴/润肤</a><br>
											<a href="" type="url" title="洗发/护发">洗发/护发</a><br>
											<a href="" type="url" title="头发造型">头发造型</a><br>
											<a href="" type="url" title="手足部护理">手足部护理</a><br>
											<a href="" type="url" title="脱毛用品">脱毛用品</a>&nbsp;
											<a href="" type="url" title="女性护理">女性护理</a><br>
											<a href="" type="url" title="止汗香体">止汗香体</a>
										</dl>
										<dl><dt><a>其他&nbsp;</a></dt>
											<a href="" type="url" title="隐形眼镜">隐形眼镜</a>&nbsp;
											<a href="" type="url" title="口腔护理">口腔护理</a><br>
											<a href="" type="url" title="家居用品">家居用品</a>&nbsp;
											<a href="" type="url" title="头饰/饰物">头饰/饰物</a>
										</dl>
									</div>
								</div>
							</li>
							<li class="cat_item">
								<div class="cat_box">
									<img class="icon" src="img/boy.png" />
									<div class="cat_title">
										<a href="">男士专区</a>
									</div>
									<div class="cat_kind"></div>
									<div class="cat_child_box">
										<dl><dt><a>男士专区</a></dt>
											<a href="" type="url" title="男士洁面">男士洁面</a>&nbsp;
											<a href="" type="url" title="男士护肤">男士护肤</a><br>
											<a href="" type="url" title="剃须护理">剃须护理</a><br>
											<a href="" type="url" title="男士头部护理">男士头部护理</a>
										</dl>
									</div>
								</div>
							</li>
							<li class="cat_item">
								<div class="cat_box">
									<img class="icon" src="img/baby.png" />
									<div class="cat_title">
										<a href="">孕婴护理</a>
									</div>
									<div class="cat_kind"></div>
									<div class="cat_child_box">
										<dl><dt><a>孕婴护理</a></dt>
											<a href="" type="url" title="母婴团">母婴团</a>
											<a href="" type="url" title="婴儿沐浴">婴儿沐浴</a>&nbsp;
											<a href="" type="url" title="婴儿护肤">婴儿护肤</a><br>
											<a href="" type="url" title="婴儿食品">婴儿食品</a>&nbsp;
											<a href="" type="url" title="孕妇护肤">孕妇护肤</a><br>
											<a href="" type="url" title="孕妇食品">孕妇食品</a><br>
											<a href="" type="url" title="其他孕婴工具">其他孕婴工具</a>
										</dl>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="hot_category">
					<ul>
						<li>
							<a href="">新品上市</a>
						</li>
						<li>
							<a href="">本周促销</a>
						</li>
						<li>
							<a href="">韩国热卖</a>
						</li>
						<li>
							<a href="">面膜专区</a>
						</li>
						<li>
							<a href="">清货特卖</a>
						</li>
						<li class="magic_line"></li>
					</ul>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		$(function() {
			$('.all_category').hover(function() {
				$('.category_cont').show();
			}, function() {
				$('.category_cont').hide();
			})
		})
		</script>
		<div class="page">
			<div class="bread-crumbs">
				<a href="index.html">首页</a>
				/
				<a href="">面部护肤</a>
				/
				<a href="">面膜</a>
				/
				<a href="">面膜贴</a>
				/
				<a href="">金装双倍特强保湿水库针剂裸贴水凝胶面膜 (V3)</a>
			</div>
			<div id="main" class="prodetail">
				<!--商品详情-->
				<div class="main_content">
					<div class="product-container clearfix">
						<div class="seckill_time2">
							<s class="zijt"></s>
							<span class="buy_num fr"><b class="seckiil_soldnums">6</b>人已购买，下手要快哦！</span>
							<div class="fl" id="time_area" style="width:54%;">
								<i class="icon iconfont">&#xe60e;</i>
								<span class="now_start_end_time_msg">特卖进行中，完结时间倒数</span>
								<div class="date-column fr">
									<span class="day"></span>天
									<span class="hour"></span>时
									<span class="minute"></span>分
									<span class="second"></span>秒
								</div>
							</div>
						</div>
						<form class="cartform">
							<div class="product_side fl">
								<i class="sidecount"><b>2.8</b></i>
								<!-- 商品相册 -->
								<div class="product-album">
									<div class="product-album-preview clearfix">
										<div class="product-album-pic">
											<a href="" class="album-preview-container">
												<img src="img/product/product.jpg" alt="金装双倍特强保湿水库针剂裸贴水凝胶面膜 (V3)" class="small-pic">
												<div class="album-zooms-handle"></div>
											</a>
										</div>
										<div class="product-album-zoom">
											<a href="/product-albums-18808.html" title="点击查看大图" target="_blank" class="iconfont">&#xe617;</a>
										</div>
									</div>
									<dl class="product-tips clb">
										<dd><img src="img/newarrivals/korea.png" alt="韩国品牌"> 韩国品牌 </dd>
										<dd><img src="img/product/good.png" alt="好评中">好评中 </dd>
									</dl>
									<div class="product-album-thumb">
										<div class="flip prev forward">
											<a class="icon iconfont">&#xe619;</a>
										</div>
										<div class="thumb_list">
											<ul style="width: 542px">
												<li class="active">
													<div class="thumbnail">
														<img src="img/product/producta.jpg" width="60" height="60">
													</div>
												</li>
												<li>
													<div class="thumbnail">
														<img src="img/product/productb.jpg" width="60" height="60">
													</div>
												</li>
												<li>
													<div class="thumbnail">
														<img src="img/product/productc.jpg" width="60" height="60">
													</div>
												</li>
												<li>
													<div class="thumbnail">
														<img src="img/product/productd.jpg" width="60" height="60">
													</div>
												</li>
												<li>
													<div class="thumbnail">
														<img src="img/product/e.jpg" width="60" height="60">
													</div>
												</li>
											</ul>
										</div>
										<div class="flip next backward over">
											<a class="iconfont">&#xe618;</a>
										</div>
									</div>
								</div>
							</div>
							<div class="product_main fr">
								<div id="bondedBanner" class="bonded-banner">
									<span class="bonded_words_show">
										<img alt="保税仓直送" src="img/product/TAX.jpg">
									</span>
								</div>
								<!--标题简介-->
								<div class="product-titles">
									<i class="icon iconfont">&#xe612;</i> 含2倍以上的透明质酸和神经酰胺3，天然保湿因子 (N.M.F – Nutrient Moisturizing Factor) 及金缕梅、大马士革玫瑰水等多种保湿成份提炼而成高浓度保湿精华。
								</div>
								<p class="product-titles2">
									<b class="yew bonded_words_show" style="display:block;">[保税仓直送]</b>
									<a href="/brand/l-p-beauty-clinic-mediheal-mediental" target="_blank">
										美迪惠尔&nbsp;</a>MEDIHEAL NUDE GEL MASK
								</p>
								<p class="product-titles2">
									金装双倍特强保湿水库针剂裸贴水凝胶面膜 (V3)&nbsp; (30 克 x 10 )&nbsp;
								</p>
								<!-- 商品基本信息 -->
								<div class="product_information">
									<!--购买区-->
									<div class="product_buy">
										<ul>
											<!--商品数量-->
											<li class="product-buy-quantity">
												<label class="item-label" for="for_quantity_input">数量：</label>
												<span class="item-content">
													<span class="p-quantity">
														<a href="javascript:void(0);" class="btn-decrease">-</a>
														<input type="text" name="goods[num]" class="action-quantity-input" value="1" min="1" max="36" limit="36" cartnum="0">
														<a href="javascript:void(0);" class="btn-increase">+</a>
													</span>
												<span class="p-store hide"><i class="iconfont">&#xe613;</i></span>
												</span>
											</li>

											<!--价格显示区-->
											<li class="product-buy-price">
												<ul>
													<li class="item">
														<span class="detail">特卖价<b class="price"><ins class="action-price">￥88.0</ins></b><span class="old-price"><del>市场价</del><i class="grey"><del class="action-mktprice">￥315.0</del></i></span></span>
													</li>
												</ul>
											</li>

											<!--购买按钮-->
											<li class="product-buy-action">
												<span id="buy_btn">
													<button  class="btn btn-major btn-huge action-addtocart" rel="_request"><span><span>立即抢购</span></span>
												</button>
												</span>
												<span class="code-pro pop-wrapper action-scanbuy">
        												<button type="button" class="btn action-handle ">扫扫即加入购物车 
        													<i class="iconfont">&#xe606;</i><i class="iconfont">&#xe60c;</i>
        												</button>
	    												<div class="pop-body" style="display: none;">
	      												<img src="img/product/code.png" alt="商品二维码" width="196" height="196">
	   												</div>
      											</span>
											</li>
										</ul>
									</div>
									<!--商品评分-->
									<div class="seckill-score clb">
										<div class="item scoreline">
											<span class="label">评 分</span>
											<span class="detail">
        											<span class="starNum">
        												<i class="iconfont">&#xe61a;</i>
        												<i class="iconfont">&#xe61a;</i>
        												<i class="iconfont">&#xe61a;</i>
        												<i class="iconfont">&#xe61a;</i>
        												<i class="iconfont">&#xe61a;</i>
        											</span>
											<i>(<a href="" >0人评价</a>)</i>
											</span>
										</div>
									</div>
									<!-- 分享推荐收藏 -->
									<div class="product-share">
										<div class="share-recommend" id="share_recommend">
											<!-- share -->
											<div class="share fr">
												<span class="fl">分享到</span>
												<ul class="share-mini">
													<li>
														<a class="douban"><i class="icon"></i></a>
													</li>
													<li>
														<a class="kaixin001"><i class="icon"></i></a>
													</li>
													<li>
														<a class="qzone"><i class="icon"></i></a>
													</li>
													<li>
														<a class="renren"><i class="icon"></i></a>
													</li>
													<li>
														<a class="sina"><i class="icon"></i></a>
													</li>
													<li>
														<a class="tencent"><i class="icon"></i></a>
													</li>
												</ul>
											</div>
											<!-- favarite -->
											<a href="" class="btn btn-rounded btn-addfav fl">
												<i class="iconfont">&#xe603;</i><i class="text">收藏</i>
											</a>
										</div>
									</div>
								</div>
							</div>
						</form>
						<!--放大镜-->
						<div class="album-zooms-container" ><img src=""></div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>